


$blue1: #004d99; // Dark blue
$blue2: #1b6ca7; // Blue
$pink: #ff4d4d; // Reddish pink
$yellow: #ffff66; // Yellow
$purple: #2e2e2e; // Purple
$textColor: #ffffff; // White
$secondaryTextColor: #000; // Black





